<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ACADEMIC DATA BASE</title>
</head>
<body>

<h1>Instructor of the Course: </h1>

<h3 th:if="${instructor} != null" th:text="${instructor.name}"></h3>
<div th:if="${instructor} == null">

    <h4> The course has not have a Instructor :(</h4>

    <form th:action="@{/course/addInstructor}" method="post" >

        <input type="number" th:name="idCourse" placeholder="idCourse">
        <br>
        <input type="number" th:name="idInstructor" placeholder="idInstructor">
        <br>
        <button th:type="submit">Add Instructor</button>
    </form>

</div>

</body>
</html>