<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ACADEMIC DATA BASE</title>
</head>

<body>

<div>
    <h1> Details information about courses:</h1>
</div>

<div>
    <table>
        <tr>
            <th>Id: </th>
            <th>Title: </th>
            <th>Level: </th>
            <th>Description: </th>
            <th>Display Instructor: </th>

        </tr>
        <tr th:each="list : ${courses}">
            <td th:text="${list.id}"/>
            <td th:text="${list.title}"/>
            <td th:text="${list.level}"/>
            <td th:text="${list.getDescription()}"/>
            <!--<td th:text="${list.getInstructor().getName()}"/>-->
            <td> <a th:href="@{'/courses/' +${list.id}  }">Instructor</a>
            </td>
        </tr>
    </table>
</div>

<div>
    <h1> Delete Course:</h1>

    <form th:action="@{/delete/course}" method="post">
        <input type="number" th:name="id" placeholder="course id:">
        <br>
        <button th:type="submit">Delete</button>
    </form>

</div>
<div>
    <h1> Add new Course:</h1>

    <form th:action="@{/add/course}" method="post" th:object="${courses}">

        <input type="text" th:name="title" placeholder="title od course">
        <br>
        <input type="text" th:name="level" placeholder="level of course">
        <br>
        <input type="text" th:name="description" placeholder="description of course">
        <br>
        <button th:type="submit">Add</button>
    </form>
</div>

</body>
</html>