<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>

    <style>

       .container {
           padding: 20px;
       }
    </style>

</head>
<body>

<h3> Update Student phone number</h3>

<form th:action="@{/students/from/update/phone}" method="post">

<input type="number" th:name="id" placeholder="student id:">
<br>
<input type="text" th:name="phoneNumber" placeholder="new phone number">
<br>
<button th:type="submit">Update</button>

</form>

</div>


</body>
</html>