<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ACADEMIC DATA BASE</title>
</head>

<body>

<div>
<h1> List of students:</h1>
</div>

<div>
<table>
    <tr>
        <th>Name of Students:</th>
    </tr>
    <tr th:each="list : ${students}">
        <td th:text="${list.name}"/>
    </tr>
</table>
</div>

<div>
    <form th:action="@{/login}" th:method="post" th:object="${loginForm}">
        Login: <input type="text" th:field="*{login}">  <br/>
        Hasło: <input type="password" th:field="*{password}"> <br/>
        <input type="submit" value="LogIn!">
    </form>
</div>

<div>
    <a href="/">Back to HomePage</a>
</div>

</body>
</html>